/pickle/
/.idea/
/pickle\data/
/Raw_AFR/
*.pickle
*.csv
dump_cframe
/Old_progs/
/Метод декремента/
grapher_final_rel(clear).py
grafiki.py
grapher_final_rel.py
relefnost_grapher.py
Obrabot_relefnost.py
rel_obrab.py
relefnost.py
relefnost_final.py
output.txt
/venv/
